[Unit]
Description=Dynamic Host Configuration Protocol (DHCP)
Wants=network.target
Before=network.target
After=systemd-udevd.service

[Service]
EnvironmentFile=-/etc/default/dhcp-client-interfaces
ExecStart=/sbin/dhclient -d -cf /etc/dhcp/dhclient.conf $INTERFACES
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
