ABOUT-NLS
COPYING
INSTALL
Makefile.in*
aclocal.m4
autom4te.cache/*
autoregen.sh
compile
config.*
configure
depcomp
install-sh
ltmain.sh
m4/
missing
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
stamp-h.in
